
extends ../layout/main
block variable
	-
		var title_page = 'Квартира 2А'
		var id_page = 'flat-page'
		var class_page = 'flat-page'
		var breadcrumbsBtn = 'filter'
		var breadcrumbsSubitem = [
			{
				label: 'About',
				link: pagesLink[0].about
			}
		]
	
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index.js')
block content
	.scroller
		.promo(data-section="first")
			.container
				.promo__title NEW <span>QUALITY</span> OF LIFE
		.mission
			.container
				.mission__left
					.mission__title Our mission
					.mission__decor
						<svg xmlns="http://www.w3.org/2000/svg" width="32.102" height="25.993" viewBox="0 0 32.102 25.993"><defs></defs><g transform="translate(0 0)"><path d="M-1146.631-1007.5v-12.218h-12.218v8.624a24.593,24.593,0,0,0,1.677,9.223,24.588,24.588,0,0,0,5.63,8.146l4.552-3.594q-4.672-5.152-5.271-10.182Zm-19.884,0v-12.218h-12.218v8.624a24.593,24.593,0,0,0,1.677,9.223,24.588,24.588,0,0,0,5.63,8.146l4.552-3.594q-4.672-5.152-5.271-10.182Z" transform="translate(1178.733 1019.715)"/></g></svg>
					.mission__text Місія Riviera Estate – створювати продуманий, нестандартний та висококласний заміський простір для життя людей, що цінують якість у кожній деталі
				.mission__right
					+svg('nav-logo')
	.projects
		.container
			.projects__title.title Our projects
		.projects__content.projects__content--1(data-section="three")
			.projects__left
				.swiper-container.js-projects-top
					.swiper-wrapper
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+svg('projects-slide-text')
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+svg('projects-slide-text')
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+svg('projects-slide-text')
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+svg('projects-slide-text')
			.projects__right
				.container
					.projects__right-wrap
						.projects__right-content
							.partners__slider-controls.slider-controls
								button(type="button" class="slider-controls__left slider-controls__arrow js-projects-top-left")
									+svg('short-arrow')
								.slider-controls__decor
								button(type="button" class="slider-controls__right slider-controls__arrow js-projects-top-right btn--res")
									+svg('short-arrow')
							.projects__inner-content
								.projects__content-wrap
									.projects__content-icon
										<svg xmlns="http://www.w3.org/2000/svg" width="32.102" height="25.993" viewBox="0 0 32.102 25.993"><defs></defs><g transform="translate(0 0)"><path d="M-1146.631-1007.5v-12.218h-12.218v8.624a24.593,24.593,0,0,0,1.677,9.223,24.588,24.588,0,0,0,5.63,8.146l4.552-3.594q-4.672-5.152-5.271-10.182Zm-19.884,0v-12.218h-12.218v8.624a24.593,24.593,0,0,0,1.677,9.223,24.588,24.588,0,0,0,5.63,8.146l4.552-3.594q-4.672-5.152-5.271-10.182Z" transform="translate(1178.733 1019.715)"/></g></svg>
									.projects__content-text Ми створюємо житло для своїх резидентів як місця сили. Місця, які відновлюють, надихають, дають відчуття життя.
							.projects__pagination-bottom
								.swiper-pagination.js-projects__pagination
		.projects__content.projects__content--2(data-section="four")
			.projects__left
				.swiper-container.js-projects2
					.swiper-wrapper
						.swiper-slide.projects__slide
							+img('slider2-img.png')
							.projects__slide-text
								+img('slider-icon.png')
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+img('slider-icon.png')
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+img('slider-icon.png')
						.swiper-slide.projects__slide
							+img('slider-img.png')
							.projects__slide-text
								+img('slider-icon.png')
			.projects__right
				.container
					.projects__right-wrap
						.projects__right-content
							.partners__slider-controls.slider-controls
								button(type="button" class="slider-controls__left slider-controls__arrow js-projects2-left")
									+svg('short-arrow')
								.slider-controls__decor
								button(type="button" class="slider-controls__right slider-controls__arrow js-projects2-right btn--res")
									+svg('short-arrow')
							.projects__inner-content
								.projects__content-wrap
									.projects__content-icon
										<svg xmlns="http://www.w3.org/2000/svg" width="32.102" height="25.993" viewBox="0 0 32.102 25.993"><defs></defs><g transform="translate(0 0)"><path d="M-1146.631-1007.5v-12.218h-12.218v8.624a24.593,24.593,0,0,0,1.677,9.223,24.588,24.588,0,0,0,5.63,8.146l4.552-3.594q-4.672-5.152-5.271-10.182Zm-19.884,0v-12.218h-12.218v8.624a24.593,24.593,0,0,0,1.677,9.223,24.588,24.588,0,0,0,5.63,8.146l4.552-3.594q-4.672-5.152-5.271-10.182Z" transform="translate(1178.733 1019.715)"/></g></svg>
									.projects__content-text Любов до своєї справи та повна віддача здатні створити те, що називають lovemark
							.projects__pagination-bottom
								.swiper-pagination.js-projects__pagination2
	.features(data-section="five")
		.features__decor
			+img('features-decor.svg')
		.container
			.features__content
				.features__title.title Our values
				ul.features__list
					li.features__item.features__item--1
						.features__img
							<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><defs><style>.a,.d{fill:none;}.a{stroke:#fff;}.b{fill:#fff;}.c{stroke:none;}</style></defs><g transform="translate(-576 -2291)"><g transform="translate(564 2284.657)"><path class="b" d="M45.544,47.855v4.527a.59.59,0,0,0,.59.59h5.621a.59.59,0,0,0,.439-.983,2.949,2.949,0,1,1,4.4,0,.59.59,0,0,0,.439.983H62.65a.59.59,0,0,0,.59-.59V50.857l2.532,2.532.834-.834-4.129-4.129a2.747,2.747,0,0,1,0-3.885.59.59,0,0,0,0-.834l-2.065-2.065a.661.661,0,0,1,.935-.935l2.065,2.065.834-.834L63.24,40.931V39.406h1.77a1.181,1.181,0,0,1,1.18,1.18v5.309a.59.59,0,0,0,.173.417l3.244,3.244.834-.834L67.369,45.65V40.585a2.362,2.362,0,0,0-2.359-2.359H63.24V31.339a4.129,4.129,0,1,0,0-7.462V19.35a.59.59,0,0,0-.59-.59H57.029a.59.59,0,0,0-.439.983,2.949,2.949,0,1,1-4.4,0,.59.59,0,0,0-.439-.983H46.133a.59.59,0,0,0-.59.59v1.525l-2.532-2.532-.834.834,4.129,4.129a2.75,2.75,0,0,1,0,3.885.59.59,0,0,0,0,.834l2.654,2.654a.661.661,0,0,1-.935.935l-2.654-2.654-.834.834L45.544,30.8v1.525h-1.77a1.181,1.181,0,0,1-1.18-1.18V25.839a.59.59,0,0,0-.173-.417l-3.244-3.244-.834.834,3.072,3.071v5.065a2.362,2.362,0,0,0,2.359,2.359h1.77v6.887a4.129,4.129,0,1,0,0,7.462Zm1.647-15.406a1.841,1.841,0,1,0,2.6-2.6l-2.269-2.269a3.933,3.933,0,0,0-.386-5.1l-.417-.417V19.94h3.937a4.129,4.129,0,1,0,7.462,0H62.06v5.031a.59.59,0,0,0,.983.439,2.949,2.949,0,1,1,0,4.4.59.59,0,0,0-.983.439v5.031H57.029a.59.59,0,0,0-.439.983,2.949,2.949,0,1,1-4.4,0,.59.59,0,0,0-.439-.983H46.723V31.982ZM40.825,44.125a2.949,2.949,0,0,1,4.915-2.2.59.59,0,0,0,.983-.439V36.456h3.937a4.129,4.129,0,1,0,7.462,0H62.06v3.306a1.841,1.841,0,0,0-2.482,2.715l1.678,1.678a3.929,3.929,0,0,0,.386,5.105l.417.417v2.115H58.123a4.129,4.129,0,1,0-7.462,0H46.723V46.762a.59.59,0,0,0-.983-.439,2.949,2.949,0,0,1-4.915-2.2Z" transform="translate(-13.286 0)"/><path class="b" d="M25.179,256.848a5.291,5.291,0,0,1,4.414-5.234,1.772,1.772,0,0,0,1.485-1.746V248H29.9v1.868a.6.6,0,0,1-.5.583,6.49,6.49,0,0,0-4.325,9.971l.984-.65A5.285,5.285,0,0,1,25.179,256.848Z" transform="translate(0 -212.724)"/><path class="b" d="M48.349,416.963l-.865.8a6.558,6.558,0,0,0,.863.778l.709-.944a5.36,5.36,0,0,1-.707-.637Z" transform="translate(-21.753 -369.228)"/><path class="b" d="M418.654,64.12a5.269,5.269,0,0,1-2.124,4.248l.709.943a6.439,6.439,0,0,0,2.595-5.191,6.506,6.506,0,0,0-5.191-6.359l-.235,1.156A5.323,5.323,0,0,1,418.654,64.12Z" transform="translate(-361.622 -36.512)"/></g></g></svg>
						.features__text Довіра і партнерство
					li.features__item.features__item--2
						.features__img
							<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><defs><style>.a,.d{fill:none;}.a{stroke:#fff;}.b{fill:#fff;}.c{stroke:none;}</style></defs><g transform="translate(-928 -2291)"><g transform="translate(941 2303.999)"><g transform="translate(15.027 13.955)"><path class="b" d="M243.227,229.381a3.22,3.22,0,0,1,0-6.44.537.537,0,0,0,0-1.073,4.294,4.294,0,0,0,0,8.587.537.537,0,0,0,0-1.073Z" transform="translate(-238.933 -221.867)"/></g><g transform="translate(11.298 9.661)"><path class="b" d="M185.116,153.759a4.294,4.294,0,0,0-4.223,7.163.537.537,0,1,0,.759-.759,3.221,3.221,0,0,1,3.168-5.372.537.537,0,0,0,.3-1.032Z" transform="translate(-179.635 -153.592)"/></g><g transform="translate(21.468 16.665)"><path class="b" d="M348.663,270.428a.536.536,0,0,0-.759,0,3.22,3.22,0,0,1-4.554-4.554.537.537,0,0,0-.759-.759,4.294,4.294,0,0,0,6.072,6.072A.536.536,0,0,0,348.663,270.428Z" transform="translate(-341.333 -264.957)"/></g><g transform="translate(20.958 11.808)"><path class="b" d="M339.454,188.99a4.294,4.294,0,0,0-6.072,0,.537.537,0,0,0,.759.759,3.221,3.221,0,0,1,5.382,3.131.536.536,0,0,0,.376.66.546.546,0,0,0,.142.019.536.536,0,0,0,.517-.4A4.3,4.3,0,0,0,339.454,188.99Z" transform="translate(-333.225 -187.733)"/></g><g transform="translate(18.509 8.583)"><path class="b" d="M300.517,137.705a4.294,4.294,0,0,0-6.072,0,.537.537,0,1,0,.759.759,3.221,3.221,0,0,1,4.554,0,.537.537,0,0,0,.759-.759Z" transform="translate(-294.287 -136.448)"/></g><g transform="translate(4.293 13.982)"><path class="b" d="M74.486,223.55a4.294,4.294,0,0,0-6.072,0,.537.537,0,0,0,.759.759,3.22,3.22,0,0,1,4.554,4.554.537.537,0,1,0,.759.759,4.294,4.294,0,0,0,0-6.072Z" transform="translate(-68.256 -222.293)"/></g><g transform="translate(0 3.758)"><path class="b" d="M32.2,71a5.4,5.4,0,0,0-4.522-5.3,5.386,5.386,0,0,0-6.145-3.728,5.324,5.324,0,0,0-4.36-2.246,5.4,5.4,0,0,0-4.983,3.377,5.838,5.838,0,0,0-3.6-1.231A5.918,5.918,0,0,0,2.7,67.427a5.36,5.36,0,0,0,1.982,9.967,5.9,5.9,0,0,0,8.448,3.029,5.3,5.3,0,0,0,2.881,1.718,6.163,6.163,0,0,0,10.839,1.174,5.356,5.356,0,0,0,3.776-8.508A5.342,5.342,0,0,0,32.2,71ZM26.51,82.263a.537.537,0,0,0-.431.255,5.091,5.091,0,0,1-9.168-1.02.536.536,0,0,0-.423-.357A4.26,4.26,0,0,1,13.683,79.4a.537.537,0,0,0-.742-.129,4.828,4.828,0,0,1-7.357-2.537.536.536,0,0,0-.48-.376,4.287,4.287,0,0,1-1.643-8.122.537.537,0,0,0,.3-.478,4.84,4.84,0,0,1,4.829-4.8,4.789,4.789,0,0,1,3.483,1.489.536.536,0,0,0,.911-.258,4.314,4.314,0,0,1,4.193-3.378,4.268,4.268,0,0,1,3.661,2.059.536.536,0,0,0,.6.238,4.3,4.3,0,0,1,5.3,3.208.536.536,0,0,0,.478.418,4.29,4.29,0,0,1,2.336,7.6.537.537,0,0,0-.06.776,4.283,4.283,0,0,1-2.973,7.154Z" transform="translate(0 -59.733)"/></g><g transform="translate(20.931 24.152)"><path class="b" d="M338.938,386.6a.535.535,0,0,0-.6-.466,4.774,4.774,0,0,1-4.553-1.895.537.537,0,0,0-.9.583,5.813,5.813,0,0,0,4.755,2.429,6.632,6.632,0,0,0,.832-.053A.536.536,0,0,0,338.938,386.6Z" transform="translate(-332.799 -384)"/></g><g transform="translate(11.639 7.558)"><path class="b" d="M186.005,120.172a.536.536,0,0,0-.647.4,12.013,12.013,0,0,0-.295,2.006.537.537,0,0,0,.516.557h.021a.537.537,0,0,0,.536-.516,11.123,11.123,0,0,1,.266-1.8A.537.537,0,0,0,186.005,120.172Z" transform="translate(-185.064 -120.157)"/></g><g transform="translate(2.686 10.689)"><path class="b" d="M46,169.987a4.842,4.842,0,0,0-3.048.581.537.537,0,0,0,.561.915,3.8,3.8,0,0,1,2.318-.435.537.537,0,0,0,.169-1.06Z" transform="translate(-42.701 -169.934)"/></g><g transform="translate(26.716 9.683)"><path class="b" d="M425.86,154.438a.537.537,0,1,0-1.069.1c0,.007.059.658.064,1.239a.537.537,0,0,0,.537.532h.005a.537.537,0,0,0,.532-.542C425.923,155.14,425.862,154.466,425.86,154.438Z" transform="translate(-424.788 -153.95)"/></g><g transform="translate(12.71 21.099)"><path class="b" d="M204.17,335.469a.537.537,0,0,0-.626.43,4.76,4.76,0,0,1-1.285,1.805.537.537,0,0,0,.733.785,5.766,5.766,0,0,0,1.607-2.394A.537.537,0,0,0,204.17,335.469Z" transform="translate(-202.09 -335.46)"/></g><g transform="translate(15.867 25.159)"><path class="b" d="M254.685,400.093l-1.844-.085a.542.542,0,0,0-.561.511.537.537,0,0,0,.511.561l1.844.085h.025a.537.537,0,0,0,.024-1.073Z" transform="translate(-252.279 -400.008)"/></g><g transform="translate(4.477 18.952)"><path class="b" d="M72.316,301.933a.537.537,0,1,0-1.063-.15,4.607,4.607,0,0,0,.01,1.63.534.534,0,0,0,.519.407.52.52,0,0,0,.125-.015.538.538,0,0,0,.4-.643A3.8,3.8,0,0,1,72.316,301.933Z" transform="translate(-71.191 -301.322)"/></g><g transform="translate(27.087 18.242)"><path class="b" d="M433.87,290.211a.54.54,0,0,0-.755-.05,7.231,7.231,0,0,1-2.081,1,.537.537,0,0,0,.178,1.043.552.552,0,0,0,.177-.03,7.624,7.624,0,0,0,2.44-1.208A.534.534,0,0,0,433.87,290.211Z" transform="translate(-430.675 -290.03)"/></g><g transform="translate(0.851 26.613)"><path class="b" d="M15.9,423.134,13.534,425.5l2.369,2.369,2.369-2.369Zm-.851,2.369.851-.851.851.851-.851.851Z" transform="translate(-13.534 -423.134)"/></g><g transform="translate(2.683 25.762)"><path class="b" d="M43.2,409.6a.537.537,0,0,0-.537.537v1.073a.537.537,0,1,0,1.073,0v-1.073A.537.537,0,0,0,43.2,409.6Z" transform="translate(-42.667 -409.6)"/></g><g transform="translate(4.294 28.446)"><path class="b" d="M69.877,452.267H68.8a.537.537,0,0,0,0,1.073h1.073a.537.537,0,0,0,0-1.073Z" transform="translate(-68.267 -452.267)"/></g><g transform="translate(2.683 30.056)"><path class="b" d="M43.2,477.867a.537.537,0,0,0-.537.537v1.073a.537.537,0,0,0,1.073,0V478.4A.537.537,0,0,0,43.2,477.867Z" transform="translate(-42.667 -477.867)"/></g><g transform="translate(0 28.446)"><path class="b" d="M1.61,452.267H.537a.537.537,0,0,0,0,1.073H1.61a.537.537,0,0,0,0-1.073Z" transform="translate(0 -452.267)"/></g><g transform="translate(25.761 0.001)"><path class="b" d="M415.506,2.684A2.149,2.149,0,0,1,413.359.538a.537.537,0,1,0-1.073,0,2.149,2.149,0,0,1-2.147,2.147.537.537,0,0,0,0,1.073A2.149,2.149,0,0,1,412.285,5.9a.537.537,0,1,0,1.073,0,2.149,2.149,0,0,1,2.147-2.147.537.537,0,1,0,0-1.073Zm-2.683,1.442a3.246,3.246,0,0,0-.905-.905,3.247,3.247,0,0,0,.905-.905,3.246,3.246,0,0,0,.905.905A3.245,3.245,0,0,0,412.822,4.127Z" transform="translate(-409.602 -0.001)"/></g></g></g></svg>
						.features__text Мислення «out of the box»
					li.features__item.features__item--3
						.features__img
							<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><defs><style>.a,.d{fill:none;}.a{stroke:#fff;}.b{fill:#fff;}.c{stroke:none;}</style></defs><g transform="translate(-576 -2444)"><g transform="translate(586.575 2391.541)"><g transform="translate(29.034 79.922)"><g transform="translate(0 0)"><path class="b" d="M397.11,229.1a10.818,10.818,0,0,0-3.8-.651.554.554,0,0,0,0,1.109,9.574,9.574,0,0,1,3.309.534.554.554,0,0,0,.5-.992Z" transform="translate(-392.751 -228.449)"/></g></g><g transform="translate(0 68.066)"><g transform="translate(0 0)"><path class="b" d="M36.157,88.467l-2.29-.654a.232.232,0,0,1-.168-.223v-.764a4.167,4.167,0,0,0,.53-.435,4.079,4.079,0,0,0,1.248-2.951V82.386l.221-.443a3.537,3.537,0,0,0,.371-1.574V77.513a.554.554,0,0,0-.554-.554H30.181a3.523,3.523,0,0,0-3.519,3.519v.033a2.941,2.941,0,0,0,.309,1.308l.284.568v.906a4.326,4.326,0,0,0,1.778,3.5v.8c0,.124,0,.175-.458.306l-1.117.319L24.227,87.04a.554.554,0,0,0-.151-.424L23.043,85.53V83.709c.109-.09.217-.182.321-.28a6.507,6.507,0,0,0,2.05-4.731V77.243a6.409,6.409,0,0,0,.593-2.7V68.62a.554.554,0,0,0-.554-.554h-8.3a5.3,5.3,0,0,0-5.3,5.3v1.186a6.409,6.409,0,0,0,.593,2.7V78.5a6.775,6.775,0,0,0,2.371,5.171V85.53l-1.033,1.085a.554.554,0,0,0-.151.424l-3.411,1.24a2.907,2.907,0,0,0-.685.359L9,88.372a4.235,4.235,0,0,0,2.124-1.719.554.554,0,0,0,0-.5,9.85,9.85,0,0,1-.487-3.442c-.013-.392-.025-.762-.049-1.092a4.823,4.823,0,0,0-4.7-4.665,4.823,4.823,0,0,0-4.7,4.665c-.023.33-.036.7-.049,1.092a9.85,9.85,0,0,1-.487,3.442.554.554,0,0,0,0,.5A4.234,4.234,0,0,0,2.777,88.37l-1.488.744A2.321,2.321,0,0,0,0,91.2v4.1a.554.554,0,0,0,1.109,0V91.2a1.217,1.217,0,0,1,.677-1.095l1.853-.926.644.612a2.332,2.332,0,0,0,3.214,0l.644-.612.6.3A2.92,2.92,0,0,0,8.3,91.03V95.3a.554.554,0,1,0,1.109,0V91.03a1.822,1.822,0,0,1,1.2-1.707l3.6-1.308,1.5,2.246a1.143,1.143,0,0,0,.841.505q.057.006.114.006a1.143,1.143,0,0,0,.81-.336l.913-.913V95.3a.554.554,0,1,0,1.109,0V89.522l.913.913a1.142,1.142,0,0,0,.81.336q.057,0,.114-.006a1.143,1.143,0,0,0,.842-.505l1.5-2.246,3.6,1.308a1.822,1.822,0,0,1,1.2,1.707V95.3a.554.554,0,1,0,1.109,0V91.03A2.931,2.931,0,0,0,28.744,89l.137-.039a3.04,3.04,0,0,0,.516-.186l1.416,1.416V95.3a.554.554,0,1,0,1.109,0V90.192l1.406-1.406a1.319,1.319,0,0,0,.236.094l2.29.654a1.229,1.229,0,0,1,.888,1.177V95.3a.554.554,0,1,0,1.109,0V90.711A2.343,2.343,0,0,0,36.157,88.467Zm-32.6-.979a3.986,3.986,0,0,1-1.779-1.142,6.112,6.112,0,0,0,.316-1.328,4.134,4.134,0,0,0,1.463,1.805Zm3.176,1.5a1.223,1.223,0,0,1-1.686,0l-.516-.49a1.147,1.147,0,0,0,.135-.541v-.591a4.123,4.123,0,0,0,2.448,0v.591a1.147,1.147,0,0,0,.135.542ZM5.89,86.443a3.006,3.006,0,0,1-3-3,.551.551,0,0,0-.645-.546c0-.048,0-.1,0-.143.012-.381.024-.741.046-1.05a4.116,4.116,0,0,1,1.121-2.585,3.445,3.445,0,0,1,4.952,0A4.116,4.116,0,0,1,9.487,81.7c.022.309.034.669.046,1.05l0,.1a4.982,4.982,0,0,0-2.739-2,6.958,6.958,0,0,0-2.109-.334.554.554,0,0,0-.384.169l-1,1.037a.554.554,0,1,0,.8.77l.832-.863c.717.035,3.023.3,3.92,2.278A3,3,0,0,1,5.89,86.443ZM8.223,87.49v-.661a4.1,4.1,0,0,0,1.464-1.807A6.1,6.1,0,0,0,10,86.346,4,4,0,0,1,8.223,87.49ZM13.558,78.5V77.12a.555.555,0,0,0-.055-.241,5.318,5.318,0,0,1-.538-2.33V73.363a4.193,4.193,0,0,1,4.188-4.188H24.9v5.374a5.318,5.318,0,0,1-.538,2.33.555.555,0,0,0-.055.241V78.7a5.323,5.323,0,0,1-1.7,3.921,5.517,5.517,0,0,1-.426.36l-.01.007a5.331,5.331,0,0,1-3.6,1.073A5.492,5.492,0,0,1,13.558,78.5ZM16.68,89.651a.035.035,0,0,1-.031.011.035.035,0,0,1-.028-.017L14.9,87.059l.555-.583,2.616,1.788Zm2.252-2.14-3-2.052V84.424a6.243,6.243,0,0,0,2.572.742q.219.014.436.014a6.422,6.422,0,0,0,3-.734v1.013Zm2.311,2.134a.035.035,0,0,1-.028.017.034.034,0,0,1-.031-.011L19.8,88.264l2.616-1.788.555.583Zm10.124-.468L30.109,87.92a1.521,1.521,0,0,0,.034-.329v-.234a3.888,3.888,0,0,0,1.1.194l.128,0a4.118,4.118,0,0,0,1.222-.185v.223a1.325,1.325,0,0,0,.04.323ZM33.458,85.6a2.98,2.98,0,0,1-2.184.846,3.1,3.1,0,0,1-2.91-3.15V82.255a.554.554,0,0,0-.059-.248l-.342-.685a1.826,1.826,0,0,1-.192-.813v-.033a2.412,2.412,0,0,1,2.41-2.41h4.781v2.3a2.422,2.422,0,0,1-.254,1.078l-.28.56a.554.554,0,0,0-.059.248v1.186A2.979,2.979,0,0,1,33.458,85.6Z" transform="translate(0 -68.066)"/></g></g><g transform="translate(34.369 91.186)"><g transform="translate(0 0)"><path class="b" d="M465.477,380.814a.554.554,0,0,0-.554.554v3.557a.554.554,0,0,0,1.109,0v-3.557A.555.555,0,0,0,465.477,380.814Z" transform="translate(-464.923 -380.814)"/></g></g><g transform="translate(2.371 91.919)"><g transform="translate(0 0)"><path class="b" d="M32.631,390.728a.554.554,0,0,0-.554.554v2.824a.554.554,0,0,0,1.109,0v-2.824A.554.554,0,0,0,32.631,390.728Z" transform="translate(-32.077 -390.728)"/></g></g><g transform="translate(14.228 73.103)"><g transform="translate(0 0)"><path class="b" d="M201.706,137.849c-2.1-2.1-6.484-1.7-8.273-1.426a1.138,1.138,0,0,0-.972,1.134v1.277a.554.554,0,1,0,1.109,0v-1.277a.037.037,0,0,1,.029-.037,17.516,17.516,0,0,1,3.6-.176,5.723,5.723,0,0,1,3.722,1.29.554.554,0,0,0,.784-.784Z" transform="translate(-192.46 -136.203)"/></g></g><g transform="translate(11.856 92.371)"><g transform="translate(0 0)"><path class="b" d="M160.938,396.853a.554.554,0,0,0-.554.554v2.371a.554.554,0,1,0,1.109,0v-2.371A.554.554,0,0,0,160.938,396.853Z" transform="translate(-160.384 -396.853)"/></g></g><g transform="translate(24.898 92.371)"><g transform="translate(0 0)"><path class="b" d="M337.36,396.853a.554.554,0,0,0-.554.554v2.371a.554.554,0,0,0,1.109,0v-2.371A.554.554,0,0,0,337.36,396.853Z" transform="translate(-336.806 -396.853)"/></g></g></g></g></svg>
						.features__text Лідерство в галузі
					li.features__item.features__item--4
						.features__img
							<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><defs><style>.a,.d{fill:none;}.a{stroke:#fff;}.b{fill:#fff;}.c{stroke:none;}</style></defs><g transform="translate(-576 -2597)"><path class="b" d="M32.514,32.891a.49.49,0,0,0,.026-.062A16.386,16.386,0,0,0,31.583,18.2a2.009,2.009,0,0,0-2.389-3.119c-.347-.354-.711-.694-1.088-1.015A2.008,2.008,0,0,0,24.834,11.9a16.183,16.183,0,0,0-14.491.076A2.005,2.005,0,0,0,7.06,14.208a16.351,16.351,0,0,0-1.548,1.547c-.414.473.336,1.122.747.652A15.359,15.359,0,0,1,7.7,14.967a2.02,2.02,0,0,0,2.958-.737,21.578,21.578,0,0,1,5.08,2.2,2.041,2.041,0,0,0,.15,1.458A22.806,22.806,0,0,0,12.377,21.7a2.024,2.024,0,0,0-2.4,1.086,30.917,30.917,0,0,0-6.222.669,2.021,2.021,0,0,0-.788-.8,15.176,15.176,0,0,1,1.818-4.253.5.5,0,0,0-.842-.524,16.164,16.164,0,0,0-1.934,4.522A2.012,2.012,0,0,0,1.5,26.348,16.374,16.374,0,0,0,6.994,38.665,2.006,2.006,0,0,0,10.2,40.876a16.179,16.179,0,0,0,14.922,0,2.005,2.005,0,0,0,3.248-2.245,16.232,16.232,0,0,0,4.141-5.741Zm-.625-1.109A31.1,31.1,0,0,0,27.413,28.1a2.031,2.031,0,0,0-.5-2.042A30.975,30.975,0,0,0,30.062,18.9a1.982,1.982,0,0,0,.707-.128A15.391,15.391,0,0,1,31.889,31.783ZM9.08,37.386A21.743,21.743,0,0,1,11.207,25.54,2.025,2.025,0,0,0,13.768,24a29.677,29.677,0,0,1,9.8,2.987,2.037,2.037,0,0,0,.328,1.695,29.922,29.922,0,0,1-13.339,9.633,2,2,0,0,0-1.475-.925Zm15.414-9.9A1.019,1.019,0,1,1,25.505,28.5,1.016,1.016,0,0,1,24.494,27.485Zm6.584-10.6a1.019,1.019,0,1,1-1.011-1.019A1.016,1.016,0,0,1,31.078,16.89Zm-2.641-1.165a2.034,2.034,0,0,0,.666,2.926,29.989,29.989,0,0,1-3.046,6.9A2.034,2.034,0,0,0,25.2,25.5a22.991,22.991,0,0,0-5.758-7.611,2.038,2.038,0,0,0,.15-1.458,21.577,21.577,0,0,1,4.884-2.141,2.005,2.005,0,0,0,3.047.587q.472.406.911.85ZM16.654,16.967a1.019,1.019,0,1,1,1.011,1.019A1.016,1.016,0,0,1,16.654,16.967Zm9.587-4.651a1.011,1.011,0,1,1-1.011,1.019A1.016,1.016,0,0,1,26.241,12.316ZM8.864,14.353a1.011,1.011,0,1,1,1.011-1.019A1.016,1.016,0,0,1,8.864,14.353Zm2-1.095a2.012,2.012,0,0,0-.056-.4,15.188,15.188,0,0,1,13.514-.1,2.01,2.01,0,0,0-.084.566A22.571,22.571,0,0,0,19.1,15.568a2.019,2.019,0,0,0-2.873,0,22.572,22.572,0,0,0-5.364-2.31Zm5.677,5.372a2.01,2.01,0,0,0,2.246,0,21.994,21.994,0,0,1,5.5,7.259,2.025,2.025,0,0,0-.247.224A30.663,30.663,0,0,0,13.7,22.989a2.013,2.013,0,0,0-.474-.777A21.806,21.806,0,0,1,16.542,18.63ZM11.8,22.6a1.011,1.011,0,1,1-1.011,1.019A1.016,1.016,0,0,1,11.8,22.6ZM.984,24.4A1.019,1.019,0,1,1,2,25.419,1.016,1.016,0,0,1,.984,24.4Zm1.508,1.947A1.968,1.968,0,0,0,4,24.413,55.894,55.894,0,0,1,9.8,23.774a2.006,2.006,0,0,0,.556,1.241A22.732,22.732,0,0,0,8.1,37.527a2.006,2.006,0,0,0-.528.324,16.558,16.558,0,0,1-5.078-11.5ZM8.864,40.4a1.019,1.019,0,0,1,0-2.037,1.034,1.034,0,0,1,1.011,1.019A1.016,1.016,0,0,1,8.864,40.4Zm8.8,1.314a15.137,15.137,0,0,1-6.911-1.67,2.062,2.062,0,0,0,.108-.792,30.91,30.91,0,0,0,13.8-9.947,2,2,0,0,0,.951.185,21.887,21.887,0,0,1,.518,2.485.5.5,0,0,0,.981-.145,22.879,22.879,0,0,0-.552-2.638,2.012,2.012,0,0,0,.329-.256,30.094,30.094,0,0,1,4.593,3.839,15.243,15.243,0,0,1-3.73,5.083,2,2,0,0,0-.525-.283,23.036,23.036,0,0,0,.126-2.772.5.5,0,0,0-.991.015,22.044,22.044,0,0,1-.121,2.665,2.032,2.032,0,0,0-1.612,2.534,15.135,15.135,0,0,1-6.962,1.7Zm8.888-1.227a1.011,1.011,0,1,1,1.011-1.019A1.016,1.016,0,0,1,26.553,40.489Z" transform="translate(588.998 2599.77)"/></g></svg>
						.features__text Прагнення до глобальних змін
					li.features__item.features__item--5
						.features__img
							<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><defs><style>.a,.d{fill:none;}.a{stroke:#fff;}.b{fill:#fff;}.c{stroke:none;}</style></defs><g transform="translate(-928 -2597)"><path class="b" d="M33.074,8.742a2.192,2.192,0,0,0-1.175.345,1.931,1.931,0,0,0-3.8.484v1.577a1.9,1.9,0,0,0-1.91.137,8.3,8.3,0,1,0-16.088,0,1.9,1.9,0,0,0-1.91-.137V9.572a1.931,1.931,0,0,0-3.8-.484A2.2,2.2,0,0,0,1,10.954v9.4a.555.555,0,0,0,.067.265L4.385,26.7a.57.57,0,0,0,.095.126l4.329,4.329A1.668,1.668,0,0,1,9.3,32.331v2.4a.553.553,0,0,0,.553.553h6.636a.553.553,0,0,0,.553-.553v-6.87a2.758,2.758,0,0,0-.744-1.887l-2.574-2.758V17.867a1.938,1.938,0,0,0-1.936-1.936,1.916,1.916,0,0,0-.83.194v-2.71a8.277,8.277,0,0,0,14.378,0v2.71a1.916,1.916,0,0,0-.83-.194,1.938,1.938,0,0,0-1.936,1.936v5.351l-2.574,2.758a2.757,2.757,0,0,0-.744,1.887v6.87a.553.553,0,0,0,.553.553h6.636a.553.553,0,0,0,.553-.553v-2.4a1.669,1.669,0,0,1,.486-1.173l4.329-4.329A.57.57,0,0,0,31.9,26.7l3.318-6.083a.555.555,0,0,0,.067-.265v-9.4a2.214,2.214,0,0,0-2.212-2.212ZM9.019,12.06a.831.831,0,0,1,.83.83V19.07l-.374-.4a1.665,1.665,0,0,0-1.213-.527H8.189V12.89a.831.831,0,0,1,.83-.83ZM5.424,9.572a.83.83,0,0,1,1.659,0v9a1.655,1.655,0,0,0-.508.843L5.424,17.952V9.572ZM15.931,27.863V34.18H10.4V32.331a2.748,2.748,0,0,0-.81-1.955L5.318,26.1,2.106,20.214v-9.26a1.106,1.106,0,0,1,2.212,0v7.189a.553.553,0,0,0,.118.342l6.083,7.742.869-.683L7.636,20.767V19.8a.554.554,0,0,1,.553-.553h.072a.554.554,0,0,1,.4.175l6.819,7.306a1.654,1.654,0,0,1,.447,1.133ZM11.784,17.037a.831.831,0,0,1,.83.83v4.166l-1.659-1.777V17.867A.831.831,0,0,1,11.784,17.037ZM25.332,9.3a7.144,7.144,0,0,1-1.3,4.113l-1.065-.852a2.537,2.537,0,0,1-.209-3.775l.221-.221a1.885,1.885,0,0,0-2.033-3.083l-.086.034a2.2,2.2,0,0,1-1.938-.155,2.173,2.173,0,0,1-1.032-2.235l.169-1.011c.029,0,.056,0,.085,0A7.2,7.2,0,0,1,25.332,9.3ZM13.164,4.121l0,1.026A1.384,1.384,0,0,0,14.549,6.53a.277.277,0,0,1,.277.277V7.36a1.384,1.384,0,0,0,1.383,1.383H17.59a.553.553,0,0,1,0,1.106,4.528,4.528,0,0,0-3.223,1.335l-2.16,2.16a7.162,7.162,0,0,1,.957-9.222Zm1.908,11.664.8-1.071a1.113,1.113,0,0,1,.886-.442h.326a2.205,2.205,0,0,0,1.228-.372,1.1,1.1,0,0,1,1.464.212L21.185,15.8a7.1,7.1,0,0,1-6.112-.014Zm7.094-.536L20.628,13.4A2.209,2.209,0,0,0,17.7,12.98a1.1,1.1,0,0,1-.614.186h-.326a2.222,2.222,0,0,0-1.77.885L14.1,15.236a7.216,7.216,0,0,1-1.194-1.03l2.241-2.241a3.427,3.427,0,0,1,2.44-1.011,1.659,1.659,0,0,0,0-3.318H16.208a.277.277,0,0,1-.277-.277V6.807a1.384,1.384,0,0,0-1.383-1.383.277.277,0,0,1-.277-.278l0-1.9a7.145,7.145,0,0,1,2.65-1.031l-.12.722A3.273,3.273,0,0,0,18.353,6.3a3.31,3.31,0,0,0,2.917.234l.086-.035a.779.779,0,0,1,1.045.534.783.783,0,0,1-.2.74L21.976,8a3.642,3.642,0,0,0,.3,5.421l1.053.842A7.215,7.215,0,0,1,22.166,15.25ZM29.2,9.572a.83.83,0,0,1,1.659,0v8.38l-1.151,1.465a1.653,1.653,0,0,0-.508-.843v-9ZM26.438,12.89a.83.83,0,0,1,1.659,0v5.254h-.072a1.665,1.665,0,0,0-1.213.527l-.374.4V12.89Zm-2.765,4.977a.83.83,0,0,1,1.659,0v2.389l-1.659,1.777ZM34.18,20.214,30.968,26.1l-4.273,4.273a2.752,2.752,0,0,0-.81,1.955V34.18h-5.53V27.863a1.653,1.653,0,0,1,.447-1.132l6.819-7.306a.552.552,0,0,1,.4-.176H28.1a.554.554,0,0,1,.553.553v.965L24.9,25.543l.869.683,6.083-7.742a.55.55,0,0,0,.118-.341V10.954a1.106,1.106,0,1,1,2.212,0Z" transform="translate(939 2608)"/></g></svg>
						.features__text Відповідальність
					li.features__item.features__item--6
						.features__img
							<svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59"><defs><style>.a,.d{fill:none;}.a{stroke:#fff;}.b{fill:#fff;}.c{stroke:none;}</style></defs><g transform="translate(-928 -2444)"><g transform="translate(923.516 2455)"><path class="b" d="M86.765,14.332v-1.5a1.5,1.5,0,0,0-1.5-1.5H83.6a11.237,11.237,0,0,0-1.232-2.973l1.178-1.178a1.5,1.5,0,0,0,0-2.121L81.7,3.219a1.5,1.5,0,0,0-2.121,0L78.4,4.4q-.111-.066-.226-.131a.537.537,0,1,0-.527.935c.129.073.255.147.375.222a.791.791,0,0,0,.98-.112L80.34,3.978a.427.427,0,0,1,.6,0l1.844,1.844a.427.427,0,0,1,0,.6L81.453,7.759a.791.791,0,0,0-.112.98,10.172,10.172,0,0,1,1.266,3.055.79.79,0,0,0,.772.614h1.886a.427.427,0,0,1,.427.427v1.287H81.5a8.874,8.874,0,0,0-17.748,0H59.561V12.835a.427.427,0,0,1,.427-.427h1.886a.79.79,0,0,0,.772-.614,10.174,10.174,0,0,1,1.266-3.055.79.79,0,0,0-.112-.98L62.466,6.425a.427.427,0,0,1,0-.6L64.31,3.978a.426.426,0,0,1,.6,0l1.334,1.334a.79.79,0,0,0,.98.112,10.172,10.172,0,0,1,3.055-1.266.79.79,0,0,0,.614-.772V1.5a.427.427,0,0,1,.427-.427H73.93a.427.427,0,0,1,.427.427V3.385a.79.79,0,0,0,.614.772c.222.052.45.114.677.184a.536.536,0,1,0,.316-1.026c-.178-.055-.357-.105-.533-.15V1.5A1.5,1.5,0,0,0,73.93,0H71.322a1.5,1.5,0,0,0-1.5,1.5V3.165A11.241,11.241,0,0,0,66.85,4.4L65.672,3.219a1.5,1.5,0,0,0-2.121,0L61.707,5.063a1.5,1.5,0,0,0,0,2.121l1.178,1.178a11.238,11.238,0,0,0-1.232,2.973H59.988a1.5,1.5,0,0,0-1.5,1.5v1.5a.864.864,0,0,0,.862.863h.576v.617a11.706,11.706,0,0,0,.453,3.231.536.536,0,1,0,1.031-.3A10.633,10.633,0,0,1,61,15.811v-.617H84.254v.617a10.521,10.521,0,0,1-3.292,7.684.537.537,0,0,0,.74.777,11.584,11.584,0,0,0,3.625-8.46v-.617H85.9a.864.864,0,0,0,.863-.863ZM72.626,6.337a7.81,7.81,0,0,1,7.8,7.784H79.354a6.728,6.728,0,0,0-13.456,0H64.825a7.81,7.81,0,0,1,7.8-7.784Zm5.655,7.784H66.972a5.655,5.655,0,0,1,11.309,0Z" transform="translate(-38.999)"/><path class="b" d="M445.519,54.366a.534.534,0,0,0,.3-.09l.949-.634a.536.536,0,1,0-.6-.892l-.949.634a.537.537,0,0,0,.3.983Z" transform="translate(-397.845 -48.892)"/><path class="b" d="M469.523,145.754a.536.536,0,0,0,.624.432l.806-.146a.537.537,0,0,0-.191-1.056l-.806.146A.537.537,0,0,0,469.523,145.754Z" transform="translate(-420.623 -134.605)"/><path class="b" d="M446.765,331.612l-.949-.634a.536.536,0,1,0-.6.892l.949.634a.536.536,0,1,0,.6-.892Z" transform="translate(-397.845 -307.218)"/><path class="b" d="M470.953,245.539l-.806-.146a.537.537,0,0,0-.191,1.056l.806.146a.537.537,0,0,0,.191-1.056Z" transform="translate(-420.623 -227.831)"/><path class="b" d="M39.257,53.641l.949.634a.536.536,0,1,0,.6-.892l-.949-.634a.536.536,0,0,0-.6.892Z" transform="translate(-20.922 -48.892)"/><path class="b" d="M16.925,146.04l.806.146a.537.537,0,0,0,.191-1.056l-.806-.146a.537.537,0,0,0-.191,1.056Z" transform="translate(0 -134.605)"/><path class="b" d="M40.2,330.977l-.949.634a.537.537,0,1,0,.6.892l.949-.634a.536.536,0,0,0-.6-.892Z" transform="translate(-20.921 -307.217)"/><path class="b" d="M18.355,245.826a.536.536,0,0,0-.624-.432l-.806.146a.537.537,0,1,0,.191,1.056l.806-.146A.537.537,0,0,0,18.355,245.826Z" transform="translate(0 -227.831)"/><path class="b" d="M114.742,290.883a10.57,10.57,0,0,1-2.42,1.112.537.537,0,0,0-.376.512v2.263h-7.7v-2.286a.536.536,0,0,0-.373-.511,10.715,10.715,0,0,1-6.132-5.136.537.537,0,1,0-.948.5,11.807,11.807,0,0,0,6.379,5.527v2.08a9.094,9.094,0,0,1-.569,4.011,1.756,1.756,0,0,0,1.529,1.739,2.526,2.526,0,0,0,2.467,2h2.925a2.525,2.525,0,0,0,2.464-1.987,118.909,118.909,0,0,1,2.09-4.187,1.756,1.756,0,0,0-1.056-1.609v-2.021a11.657,11.657,0,0,0,2.29-1.1.536.536,0,1,0-.567-.911Zm-2.421,6.322h-8.382a.681.681,0,0,1,0-1.362h8.383a.681.681,0,1,1,0,1.362Zm-2.8,4.42H106.6a1.451,1.451,0,0,1-1.346-.912h5.616A1.451,1.451,0,0,1,109.52,301.625Zm2.385-1.985h-7.552a.681.681,0,0,1,0-1.362h7.552a.681.681,0,0,1,0,1.362Z" transform="translate(-74.502 -266.053)"/></g></g></svg>
						.features__text Відкритість до інновацій
	.principles(data-section="six")
		.container
			.principles__icon
				+svg('nav-logo')
			.principles__title.title Our principles
			ul.principles__list
				li.principles__item
					.principles__img
						+img('principles-img.png')
					.principles__small-title Тільки генеральне планування
					.principles__desc Наші об’єкти – це живі автономні організми, навколо яких ми створюємо та розвиваємо інфраструктуру: дороги, школи, зони відпочинку, пляжі.
				li.principles__item
					.principles__img
						+img('principles-img2.png')
					.principles__small-title Найвищі стандарти якості
					.principles__desc Адже ми будуємо для тих, хто звик отримувати найкраще.
				li.principles__item
					.principles__img
						+img('principles-img3.png')
					.principles__small-title Турбота має початок, але не має кінця
					.principles__desc Наша участь у проекті не завершується на етапі забудови. Ми здійснюємо якісне сервісне обслуговування житлових комплексів, продовжуємо покращувати територію поблизу.
				li.principles__item
					.principles__img
						+img('principles-img4.png')
					.principles__small-title Антропоцентризм
					.principles__desc Ми будуємо не стіни та дах, а особливий спосіб життя для людей нового формату мислення. Ми створюємо базу для ком’юніті, де воля, демократичний підхід та самоуправління всебічно підтримані на рівні комфорту та сервісу.

	.partners(data-section="seven")
		.container
			.partners__top
				.partners__title.title Our partners
				.partners__slider-controls.slider-controls
					button(type="button" class="slider-controls__left slider-controls__arrow js-partners-left")
						+svg('short-arrow')
					.slider-controls__decor
					button(type="button" class="slider-controls__right slider-controls__arrow js-partners-right btn--res")
						+svg('short-arrow')
			.swiper-container.js-partners__slider.partners__slider-wrap
				.swiper-wrapper.partners__slider
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--1
							+img('ui/partners-img.svg')
						.partners__slide.partners__slide--5
							+img('ui/partners-img5.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--2
							+img('ui/partners-img2.svg')
						.partners__slide.partners__slide--6
							+img('ui/partners-img6.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--3
							+img('ui/partners-img3.svg')
						.partners__slide.partners__slide--7
							+img('ui/partners-img7.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--4
							+img('ui/partners-img4.svg')
						.partners__slide.partners__slide--8
							+img('ui/partners-img2.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--1
							+img('ui/partners-img.svg')
						.partners__slide.partners__slide--5
							+img('ui/partners-img5.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--2
							+img('ui/partners-img2.svg')
						.partners__slide.partners__slide--6
							+img('ui/partners-img6.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--3
							+img('ui/partners-img3.svg')
						.partners__slide.partners__slide--7
							+img('ui/partners-img7.svg')
					.partners__slide-item.swiper-slide
						.partners__slide.partners__slide--4
							+img('ui/partners-img4.svg')
						.partners__slide.partners__slide--8
							+img('ui/partners-img2.svg')
	.team(data-section="eight")
		.container
			.team__title.title Our team
			.team__content
				.team__item
					.team__img
						+img('team-img.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Volodymyr Limakov
					.team__pos Сo-founder of Riviera Estate
				.team__item
					.team__img
						+img('team-img2.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Sergii Sliusarenko
					.team__pos Сo-founder of Riviera Estate
				.team__item
					.team__img
						+img('team-img3.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Dariia Kukharenko
					.team__pos CEO
				.team__item
					.team__img
						+img('team-img4.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Dmytro Zhyglinskyi
					.team__pos CFO
				.team__item
					.team__img
						+img('team-img5.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Andrii Vyshniak
					.team__pos Head of Business Development
				.team__item
					.team__img
						+img('team-img6.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Margarita Avetisyan
					.team__pos Head of Legal Department
				.team__item
					.team__img
						+img('team-img7.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Maxim Tatarenko
					.team__pos Chief Architect
				.team__item
					.team__img
						+img('team-img8.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Andrey Polyakov
					.team__pos Head of Sales
				.team__item
					.team__img
						+img('team-img9.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Irina Kirilenko
					.team__pos CMO
				.team__item
					.team__img
						+img('team-img10.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name Sergii Kucher
					.team__pos Project Manager
				.team__item
					.team__img
						+img('team-img11.png')
						.team__img-desc Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым.
					.team__name + еще один человек
					.team__pos Project Manager
	.contacts(data-section="nine")
		button(type="button").btn-top.js-btn-top
			+svg('arrow')
		.container
			.contacts__content
				.contacts__left
					+svg('nav-logo')
				form.contacts-form(data-form="true")
					.contacts-form__title Зв'язатися з питань співпраці
					.contacts-form__item
						.contacts-form__block
							input(type="text" name="name" placeholder="И'мя" class="contacts-form__input")
						.contacts-form__block
							input(type="tel" placeholder="(380) 000-00-00" data-phone="true" name="phone" class="contacts-form__input")
					button(class="contacts-form__btn btn--res submit__btn") надіслати
block footer
	include ../includes/footer.pug

block header
	include ../includes/header
