* {
	box-sizing: border-box;
}

*::after, *::before {
	box-sizing: border-box;
}


@include reset();

.debug {
	z-index: 999999;
	@include debug(rgba(0, 0, 0, .5), 1px solid #ff0);
}

.container {
	@include wrapper();
	@include to(575px){
		padding-left: 26px;
		padding-right: 26px;
	}
	@include to(375px){
		padding-left: 15px;
		padding-right: 15px;
	}
}


html{
	font-size: 16px;
	@include to(768px){
		font-size: 10px;
	}
	@include to(576px){
		font-size: 8.5px;
	}
}
body {
	position: relative;
	margin: 0;
	min-width: 320px;
	line-height: 1.3em;
	font-family: $default-font;
	overflow-x: hidden;
	font-size: 18px;
	color: #fff;
	background: #fff;
	background-size: contain;

	@include to(1440px) {
		font-size: 16px;
	}

	@include to(1200px){
		background: #fff;
	}
}

body input, body textarea {
	border: #666 1px solid;
	outline: none;
}

img {
  width: 100%;
  display: block;
}

body *:focus {
  outline: none;
}

body.focus-tab--enable *:focus {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 7px;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}
