.row {
	@include row-flex();
}
.page__inner {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	z-index: 30;
	.page__content {
		flex-grow: 1;
		padding-top: 120px;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}
.section-pading--top {
	padding-top: 60px;
}

.burger-btn {
	// display: none;
	width: 27px;
	height: 18px;
	padding: 0 ;
	svg {
		width: 100%;
		height: 100%;
		fill: #82A7CA;
	}
}

.btn--res {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

.title {
	font-size: 47px;
	line-height: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
	max-width: 290px;

	@include to(1440px) {
		font-size: 45px;
	}
	@include to(575px){
		font-size: 28px;
	}
}

.slider-controls {
	display: flex;
	align-items: center;

	&__left {
		transform: rotate(180deg) translateY(1px);
		margin-right: 13px;
	}

	&__right {
		transform: translateY(2px);
	}

	&__decor {
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: #fff;
		margin-right: 13px;
	}

	&__arrow {
		transition: all .4s;

		svg {
			width: 27px;
			height: 18px;
			fill: #fff;
			transition: all .4s;
		}

		&:hover {
			svg {
				fill: #000000;
			}
		}

		&.lock {
			cursor: default;

			&:hover {
				fill: #9bb8d3;
			}

			svg {
				fill: #9bb8d3;
			}
		}
	}
	@include to(575px){
		&__arrow {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__arrow svg {
			width: 10px;
			height: 8px;
		}
		&__left {
			transform: rotate(180deg) translateY(0px);
			margin-right: 13px;
		}
	
		&__right {
			transform: translateY(0px);
		}
		&__decor {
			width: 3px;
			height: 3px;
		}
	}
}

button:disabled {
	background-color: transparent;
	border-color: transparent;
}

button {
	border: none;
	background-color: transparent;
}

@keyframes animateTopBtn {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-7px);
	}

	50% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0);
	}
}

.btn-top {
	margin-left: auto;
	margin-right: 102px;
	width: 71px;
	height: 71px;
	background-color: #1D252D;
	display: flex;
	align-items: center;
	transform: translateY(-50%);
	justify-content: center;
	transition: all .4s;
	border: 1px solid transparent;

	svg {
		width: 24px;
		height: 18px;
		stroke: none;
		fill: #fff;
		animation: animateTopBtn 1s infinite;
		transition: all .4s;
	}

	&:hover {
		background-color: transparent;
		border-color: #1D252D;

		svg {
			fill: #1D252D;
		}
	}
	@include to(575px){
		margin-right: 26px;
	}
	@include to(375px){
		margin-right: 15px;
	}
}

/*! locomotive-scroll v4.0.6 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */html.has-scroll-smooth{overflow:hidden}html.has-scroll-dragging{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.has-scroll-smooth body{overflow:hidden}.has-scroll-smooth [data-scroll-container]{min-height:100vh}[data-scroll-direction=horizontal] [data-scroll-container]{height:100vh;display:inline-block;white-space:nowrap}[data-scroll-direction=horizontal] [data-scroll-section]{display:inline-block;vertical-align:top;white-space:nowrap;height:100%}.c-scrollbar{position:absolute;right:0;top:0;width:11px;height:100%;transform-origin:center right;transition:transform .3s,opacity .3s;opacity:0}.c-scrollbar:hover{transform:scaleX(1.45)}.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar{opacity:1}[data-scroll-direction=horizontal] .c-scrollbar{width:100%;height:10px;top:auto;bottom:0;transform:scaleY(1)}[data-scroll-direction=horizontal] .c-scrollbar:hover{transform:scaleY(1.3)}.c-scrollbar_thumb{position:absolute;top:0;right:0;background-color:#000;opacity:.5;width:7px;border-radius:10px;margin:2px;cursor:-webkit-grab;cursor:grab}.has-scroll-dragging .c-scrollbar_thumb{cursor:-webkit-grabbing;cursor:grabbing}[data-scroll-direction=horizontal] .c-scrollbar_thumb{right:auto;bottom:0}
.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #000;
	opacity: .5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}

.form__status {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
}

