.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  --header-height: 120px;
  height: var(--header-height);
  transition: all .4s;
  background-color: #1D252D;
  @include to(575px){
    &.not-on-top {
      --header-height: 75px;
    }
  }
  .container {
    height: 100%;
  }

  &.moving {
    height: 105px;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__logo {
    height: calc(var(--header-height) - 30px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    max-width: 250px;
    font-size: 21px;
    line-height: 1.2em;
    color: #9BB8D3;
    text-transform: uppercase;

    @include to(1440px) {
      font-size: 19px;
    }
    @include to(950px){
      display: none;
    }
  }

  &__phone {
    &-text {
      color: #9BB8D3;
    }

    &-number {
      font-size: 24px;
      line-height: 1.4em;
      color: #fff;
      text-decoration: none;
      font-weight: 600;

      @include to(1440px) {
        font-size: 22px;
      }
      @include to(575px){
        font-size: 18px;
      }
      @include to(375px){
        font-size: 14px;
      }
    }
  }

  @include to(575px){
    &__phone {
      margin-right: auto;
      margin-left: 35px;
    }
    &__phone-text {
      font-size: 13px;
    }
    .socials {
      display: none;
    }
    &__logo { 
      width: 107px;
      height: 54px;
    }
  }
  @include to(375px){
    &__phone{

      margin-left: 22.5px;
    }
  }
}



@include from(576px){
  .desktop-off {
    display: none;
  }
}