@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style
@import './assets/swiper.scss';


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';
@import "blocks/nav";
@import "blocks/socials";

@import './pages/home.scss';
@import './pages/home-dron.scss';
