.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #1d252d;
  z-index: 20;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 100px;
  &.active {
    display: flex;
  }
  &__item,
  &__link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  &__close {
    position: absolute;
    right: 26px;
    top: 60px;
    width: 23px;
    height: 23px;
    padding: 0;
    fill:#82a7ca;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    color: #9BB8D3;
    font-size: 20px;
    font-family: "Rational", "Arial", "sans-serif";
    text-transform: uppercase;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
  }
  &__socials {
    display: flex !important;
    justify-content: center;
  }
  &__logo {
    width: 170px;
    height: 60px;
    margin: 60px auto 40px auto;
    svg {
      width: 100%;
      height: 100%;
      fill: #82a7ca;
    }
  }

  &__item~&__item {
    margin-top: 50px;
  }
  &__list {
    margin-top: 80px;
    text-align: center;
  }
  @include to(375px){
    &__logo {
      margin-top: 20px;
    }
    &__close {
      top: 20px;
    }
    &__list{
      margin-top: 30px;
    }
  }
}
